# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.pyo
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django/Flask/Database
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
instance/
.webassets-cache

# OS metadata
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Project specific
.env
*.db
*.log
temp/

# 가상환경
.venv
activate.batstorage/audio/
activate.bat
